  <% include parts/header %>

    <body>
      <% include parts/menu_top %>
      <div class="container uploader">
        <div class="blue lighten-2 advice">
           <%=__('police')%>. <a href="/term_and_condition"><%=__('learn_more')%></a>
        </div>
        <div class="field_upload" >
          <center> <div class="card-panel blue lighten-2 white-text text-darken-2 statu_upload" style="display:none;"></div></center>
         
          
            <div class="selector row click_to_uplaod">
              <center>
                <div class="col s12"> <a class="icon_publish" href="#"><i class="valign large material-icons"><%=__('publish')%></i></a></div>
                <div class="col s12 text_import"><%=__('import_file')%></div>
                <div class="col s12">
                  <div class="chip">Video .mp4</div>
                  <div class="chip">Photo</div>
                  <div class="chip">PDF</div>
                  <div class="chip">Word</div>
                  <div class="chip">PowerPoint</div>
                </div> 
              </center>
            </div>
         
          
          <div class="command_selector row" style="display:none;">
            <div class="hide-on-small-only col m4 l4">

              <span class="this_statu_upload">
                <img class="thumb_pic" src="assets/img/no_pic.jpg">
              </span>
              
              <div class="state_upload"><%=__('publishing')%>...
                <div class="progress">
                  <div class="indeterminate"></div>
                </div>
              </div>
            </div>
            <div class="col m8 l8">
              <div class="loader_up">
                <span class="div_up truncate"><span class="percent_up"><div></div></span>&nbsp;<span class="up_title"></span></span>
                <div class="progress">
                    <div class="determinate total_progress" style="width: 0%"></div>
                </div><br>

                <div class="number_of_file"></div>
                <div class="progress">
                    <div class="determinate total_progress_total" style="width: 0%"></div>
                </div>
  
                <div>
                    <a class="waves-effect right waves-light btn blue publish" style="display:none;"><%=__('publish')%></a>
                    <a class="waves-effect right waves-teal btn-flat cancel_publish" id="cancel"><%=__('cancel')%></a>
                </div>

                <div class="not_compatible card-panel red-text text-darken-2" style="display:none;">
                  <h5><%=__('not_allowed')%></h5>
                  <p class="incompatible">
                  </p>
                </div>

              </div>
            </div>
          </div>
          <input type="file" class="filer" name="filer" style="display:none;" multiple>
        </div>
      </div>

       <!-- For language notifications -->
      <div class="notif" File_type_Not_allowed="<%=__('File_type_Not_allowed')%>" upload_processing="<%=__('upload_processing')%>" no_complet="<%=__('no_complet')%>" no_accepted="<%=__('no_accepted')%>" error_password="<%=__('error_pass')%>" file_ready="<%=__('file_ready')%>"  file_here="<%=__('file_here')%>" stat="<%= stat %>"></div>
     
     
      
      
      
      <% include parts/main_menu %>
      <% include parts/main_js %>
      <% include parts/pub %>
      <% include parts/upload_bulk %>
      <% include parts/menu %>
      <% include parts/footer %>
    
